@media all and (min-width: 400px) and (max-width: 767px){

    @font-face{
    font-family: GothamMedium;
    src: url("../fonts/Gotham-Medium.otf");
    font-weight: 500;
}

@font-face{
    font-family: GothamBold;
    src: url("../fonts/Gotham-Bold.otf");
    font-weight: 700;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container > .first_div{
    width: 100%;
    height: 750px;
    background-color: #f9e3e8;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.container > .first_div > .first_div_first_image{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.container > .first_div > .first_div_second_image{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.container > .first_div > .first_div_third_image{
    position: absolute;
    left:543px;
    bottom:0;
    width: 584px;
    height: 624px;
    z-index: 4;
}

.container > .first_div > .first_div_fourth_image{
    position: absolute;
    left: 1100px;
    top:0;
    width: 536px;
    height: 672px;
    z-index: 4;
}

.container > .first_div > .first_div_fifth_image{
    position: absolute;
    left: 1458px;
    top:66px;
    width: 462px;
    height: 501px;
    z-index: 4;
}

.container > .first_div > .first_div_main{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 10;
}

.nav-bar > .top > .logo{
    width: 123px;
    height: 90px;
    background-color: #ec1d27;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.top > .logo > .logo1{
    width: 93px;
    height: 35px;
}

.first_div_main > .nav-bar{
    width: 100%;
    height: 90px;
    background-color: transparent;
}

.first_div_main > .nav-bar > .top{
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 30;
    background-color: #f9e3e8;
    transition: all .5s linear;
}

.nav-bar > .top > .burger{
    width: 90px;
    height: 90px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #ffffff;
}

.first_div_main > .nav-bar > .bottom{
    width: 100%;
    height: 240px;
    position: absolute;
    top: -150px;
    z-index: 20;
    transition: all .5s linear;
}

.nav-bar > .top > .navigation{
    display: none;
}


.nav-bar > .bottom > .refs{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f3b8c6;
    border-bottom: 1px solid #ffffff;
}

.nav-bar > .bottom > .refs:last-child{
    border-bottom: 0;
}

.bottom > .refs > p{
    text-align: center;
    font-family: GothamMedium;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}

.first_div_main > .first_div_main_text{
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 150px;
}

.first_div_main > .first_div_main_text > header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_div_main_text > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 4rem;
    font-weight: 500;
}

.first_div_main > .first_div_main_text > section{
    width: 100%;
    height: calc(100% - 85px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.first_div_main_text > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.first_div_main > .first_div_main_text > button[type="button"]{
    width: 155px;
    height: 51px;
    background-color: #ee212c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 44px;
    border: 0;
    outline: 0;
}

.first_div_main > .first_div_main_text > button[type="button"]:hover{
    cursor: pointer;
}

.first_div_main_text > button[type="button"] > p{
    color: #ffffff;
    font-family: GothamBold;
    font-size: 1rem;
    font-weight: 700;
}

.first_div_main > .first_div_main_text > .block_inform{
    position: absolute;
    bottom: 62px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_div_main_text > .block_inform > img{
    width: 72px;
    height: 72px;
}

.second_div{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_div > .second_div_main{
    width: 400px;
    height: auto;
    margin-top: 65px;
    margin-bottom: 50px;
}

.second_div > .second_div_main > .top_row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second_div_main > .top_row > .el{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.top_row > .el > .img-perf{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.el > .img-perf > img{
    width: 100px;
    height: 100px;
}

.top_row > .el > .text-perf{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.el > .text-perf > p{
    color: #000000;
    font-family: GothamMedium;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
}

.second_div > .second_div_main > .bottom_row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    flex-wrap: wrap;
}

.bottom_row > .el > .text-perf{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bottom_row > .el > .img-perf{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.second_div_main > .bottom_row > .el{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.third_div{
    width: 100%;
    height: 900px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.third_div > .third_div_main{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.third_div > .third_div_main > header{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third_div_main > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}

.third_div > .third_div_main > section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.third_div_main > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

.third_div > .third_div_main_content{
    width: 400px;
    height: auto;
    margin-top: 100px;
    position: relative;
    z-index: 10;
}

.third_div > .third_div_main_content > .innerText{
    width: 100%;
    height: auto;
    margin: auto;
}

.third_div_main_content > .innerText > header{
    width: auto;
    height: auto;
}

.innerText > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.third_div_main_content > .innerText > section{
    width: auto;
    height: auto;
    margin-top: 32px;
}

.innerText > section > p{
    color: #fefefe;
    font-family: GothamMedium;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
}

.third_div > img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: auto;
    z-index: 1;
}

.fourth_div{
    width: 100%;
    height: 880px;
    background-image: url("../images/Layer_41.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 85px;
}

.fourth_div > .fourth_div_main_content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.fourth_div > .fourth_div_main_content > .innerText{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.fourth_div_main_content > .innerText > header{
    width: auto;
    height: auto;
}

.fourth_div_main_content > .innerText > header > h1{
    color: #000000;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.fourth_div_main_content > .innerText > section{
    width: auto;
    height: auto;
    margin-top: 37px;
    position: relative;
}

.fourth_div_main_content > .innerText > section > p{
    color: #000000;
    font-family: GothamMedium;
    font-size: .8rem;
    font-weight: 500;
}

.fourth_div_main_content > .innerText > .phone{
    width: 300px;
    height: 522px;
    background-image: url("../images/Layer_42.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.innerText > .phone > img{
    width: 286px;
    height: 535px;
    margin-top: 10px;
}

.fifth_div{
    width: 100%;
    height: 800px;
    background-attachment: scroll;
    background-image: url("../images/Layer_46.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fifth_div > .inner_content{
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fifth_div > .inner_content > header{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_content > header > h1{
    text-align: center;
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500;
    line-height: 35px;
}

.fifth_div > .inner_content > section{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.inner_content > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size:.9rem;
    font-weight: 500;
    text-align: center;
}

.sixth_div{
    width: 100%;
    height: 740px;
    background-color: #9dd4ff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sixth_div > .sixth_div_inner{
    width: 400px;
    height: 650px;
    position: relative;
}

.sixth_div > .sixth_div_inner > .inner_text{
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 1;
}

.sixth_div_inner > .inner_text > header{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.inner_text > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.sixth_div_inner > .inner_text > section{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    position: relative;
}

.inner_text > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: .9rem;
    font-weight: 500; 
    text-align: center;   
}

.sixth_div_inner > .image_box{
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -200px;
    z-index: 10;
}

.sixth_div_inner > .image_box > .bg_first{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
}

.sixth_div_inner > .image_box > .bg_second{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 6;
}

.sixth_div_inner > .image_box > .bg_third{
    width: 300px;
    height: 400px;
    position: absolute;
    top:0;
    margin-left: -150px;
    left: 50%;
    z-index: 10;
}

.sixth_div_inner > .image_box > .bg_fourth{
    width: 90px;
    height: 4px;
    position: absolute;
    top:126px;
    left:159px;
    z-index: 11;
}

.sixth_div_inner > .image_box > .bg_fifth{
    width: 80px;
    height: 4px;
    position: absolute;
    top:78px;
    left:153px;
    z-index: 11;
}

.sixth_div_inner > .image_box > .bg_sixth{
    width: 35px;
    height: 4px;
    position: absolute;
    top:25.3px;
    right:122px;
    z-index: 11;
}

.sixth_div_inner > .image_box > .t1{
    width: auto;
    height: auto;
    position: absolute;
    top: 122px;
    left: 10px;
    color: #ffffff;
    font-family: GothamMedium;
    font-size: .6rem;
    font-weight: 500;
}

.sixth_div_inner > .image_box > .t2{
    width: auto;
    height: auto;
    position: absolute;
    top: 74px;
    left: 35px;
    color: #ffffff;
    font-family: GothamMedium;
    font-size: .6rem;
    font-weight: 500;
}

.sixth_div_inner > .image_box > .t3{
    width: auto;
    height: auto;
    position: absolute;
    top: 22px;
    right: 5px;
    color: #ffffff;
    font-family: GothamMedium;
    font-size: .6rem;
    font-weight: 500;
}

.seventh_div{
    width: 100%;
    height: 550px;
    background-image: url("../images/Layer_47.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    box-sizing: border-box;
}

.seventh_div > .inner_text{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seventh_div > .inner_text > header{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seventh_div > .inner_text > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500; 
    text-align: center;   
}

.seventh_div > .inner_text > section{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.seventh_div > .inner_text > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.seventh_div > .inner_text > .boxes{
    width: 400px;
    height: 100px;
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner_text > .boxes > .box1{
    width: 163px;
    height: 110px;
    background-image: url("../images/Rounded_Rectangle_1.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 163px 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxes > .box1 > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 3.75rem;
    font-weight: 500;   
}

.boxes > .box1 > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 0.75rem;
    font-weight: 500; 
    margin-top: -20px;   
}

.inner_text > .boxes > .box2{
    width: 163px;
    height: 110px;
    background-image: url("../images/Rounded_Rectangle_1_copy.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 163px 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxes > .box2 > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 3.75rem;
    font-weight: 500;   
}

.boxes > .box2 > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 0.75rem;
    font-weight: 500; 
    margin-top: -20px;   
}

.eighth_div{
    width: 100%;
    height: 1120px;
    background-image: url("../images/Layer_49.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.eighth_div > .inner_content{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 120px;
}

.eighth_div > .inner_content > header{
    width: 220px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eighth_div > .inner_content > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500; 
    text-align: center;  
}

.eighth_div > .inner_content > section{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
}

.eighth_div > .inner_content > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.ninth_div{
    width: 100%;
    height: 1450px;
    background-image: url("../images/Layer_60.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.ninth_div > .inner_content{
    width: 400px;
    height: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ninth_div > .inner_content > .top_row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner_content > .top_row > header{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_content > .top_row > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 2rem;
    font-weight: 500;   
    text-align: center; 
}

.inner_content > .top_row > section{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.inner_content > .top_row > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: .8rem;
    font-weight: 500;   
    text-align: center;
}

.ninth_div > .inner_content > .bottom_row{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 68px;
    align-items: center;
    flex-direction: column;
}

.inner_content > .bottom_row > .phone{
    width: 349px;
    height: 703px;
    background-image: url("../images/app-hand-bg.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_row > .phone > img{
    width: 299px;
    height: 529px;
}

.inner_content > .bottom_row > .logo{
    width: 349px;
    height: auto;
    display: flex;
    justify-content: center;
}

.bottom_row > .logo > .inner{
    width: 290px;
    height:auto;
    margin-top: 50px;
}

.logo > .inner > .top{
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > .inner > .top > img{
    width: 145px;
    height: 145px;
}

.logo > .inner > .top{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > .inner > .bottom{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 57px;
}

.inner > .bottom > button{
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 109px;
    height: 45px;
    text-align: center;
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.inner > .bottom > button:focus{
    outline: 0;
}

.tenth_div{
    width: 100%;
    height: 500px;
    background-image: url("../images/akcesoria.png");
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

.tenth_div > .content{
    width: 400px;
    height: auto;
    margin-top: 80px;
}

.tenth_div > .content > header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > header > h1{
    color: #000000;
    font-family: GothamMedium;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.tenth_div > .content > section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

.content > section > p{
    color: #000000;
    font-family: GothamMedium;
    font-size: 1rem;
    font-weight: 500;    
    text-align: center;
}

.tenth_div > .layer_55{
    width: 200px;
    height: auto;
    position: absolute;
    top:0;
    left: 100px;
}

.eleventh_div{
    width: 100%;
    height: 500px;
    background-image: url("../images/kolory.png");
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.eleventh_div > .inner{
    width: 85%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eleventh_div > .inner > .content{
    width: auto;
    height: auto;
}

.inner > .content > header{
    width: auto;
    height: auto;
}

.inner > .content > header > h1{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 3rem;
    font-weight: 500;    
}

.inner > .content > section{
    width: auto;
    height: auto;
    margin-top: 31px;
}

.inner > .content > section > p{
    color: #ffffff;
    font-family: GothamMedium;
    font-size: 1rem;
    font-weight: 500; 
    text-align: center;   
}

}
